* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 40%;
  height: 200px;
  resize: unset;
  padding: 15px;
}

.logs {
  width: 55%;
  max-height: 200px;
  overflow-y: auto;
}

.logs h2 {
  margin: 0;
}